/* ROOT */
:root {
    --orange-color: #FF6900;
    --green-color: #008000;
    --red-color: #FF0000;
    --black-color: #1A1A1A;
    --white-color: #ffffff;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white-color);
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* IMG */
img {
    max-width: 100%;
    height: auto;
}


/* UTILITIES */
.flex {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.container {
    width: 70%;
    /* height: 100vh; */
    padding: 30px 0;
    margin: auto;
    /* background-color: #008000; */
}

.row-dir {
    flex-direction: row;
}

.col-dir {
    flex-direction: column;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-20 {
    font-size: 20px;
}

.gap-10 {
    gap: 10px;
}


.col-gap-10 {
    column-gap: 10px;
}

.col-gap-20 {
    column-gap: 20px;
}

.bold {
    font-weight: bold;
}

/* HEADER */
header {
    background-color: var(--orange-color);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.nav {
    column-gap: 20px;
}

.left-side,
.right-side {
    width: 25%;
}

.flex .left-side {
    justify-content: flex-start;
}

.flex .right-side {
    justify-content:flex-end;
}

.middle-side {
    flex-grow: 1;
    justify-content: center;
}

.logo {
    width: 120px;
}

/* TAGS */
a {
    text-decoration: none;
    color: var(--white-color);
}

li {
    list-style: none;
}

hr {
    border: 2px solid var(--white-color);
}


/* MAIN */

.wrapper {
    flex-wrap: wrap;
}

/* CARD */
.card {
    /* debug */
    width: calc(100% / 3);
    height: 500px;
    padding: 10px;
    /* background-color: red; */
}

.img-container:hover .hover-img{
    display: inline-block;
}

.img-container:hover .default-img {
    display: none;
}

.img-container:hover .heart-btn {
    color: var(--red-color);
}

/* image container */
.img-container {
    position: relative;
}

.hover-img {
    display: none;
}

.heart-btn {
    position: absolute;
    top: 10px;
    right: 0px;
    
    width: 40px;
    height: 40px;
    background-color: var(--white-color);
    font-size: 2rem;
    color: var(--black-color);
}

.flex .heart-btn {
    justify-content: center;
    align-items: center;
}

.tag {
    position: absolute;
    left: 0;
    bottom: 50px;

}

.sale-tag {
    background-color: var(--red-color);
    padding: 5px;
}

.sustainability-tag {
    background-color: var(--green-color);
    padding: 5px;

}

/* description */
.brand-text {
    color: grey;
}

.des-text {
    color: var(--black-color);
    text-transform: uppercase;
}

.after-discount {
    color: var(--red-color);
}

.before-discount {
    text-decoration: line-through;
    color: var(--black-color);
}

.row {
    margin: 120px;
}


/* FOOTER */

footer {
    width: 100%;
    /* height: 100px; */
    background-color: var(--black-color);
}

.left-side-ftr {
    width: 70%;
}
.right-side-ftr {
    width: 30%;
    text-align: end;
}

.right-side-ftr ul {
    padding-left: 240px;
}

.right-side-ftr i {
    font-size: 30px;
}